/* Navbar */
body {
	padding-top: 50px;
}

.navbar-brand {
	font-family: 'Oleo Script Swash Caps', cursive !important;
	font-size: 32px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #9954bb;
}

/* Modals */
.modal {
	overflow-y: auto;
}

.table th, .table td {
	border-top: none;
}

#channelTable {
	margin-bottom: 0px;
}

#channel-modal-body {
	padding: 0px !important;
}

.trailer-modal-body {
	margin:0px;
	padding:0px;
}

.trailer-dialog {
	margin-top: 100px;
}


/* Carousel */
.carousel-indicators {
	background-color: rgba(30, 30, 30, 0.6);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: inherit;
}

.well {
	margin-bottom: 20vh;
	border: none;
	background-color: rgba(30, 30, 30, 0.6);
}

#loadProgress {
	margin-bottom:30vh;
}

.movie-progress {
	margin-top:-8px
}

.carousel .item {
	height:100vh;
	margin-top: -50px;
}

.movie-info {
	text-align: left !important;
	width:70%;
}

.slide-control {
	margin-top:50vh;
}

.info-inner {
	width: 100% !important;
	text-align: left;
}

.info {
	position: absolute;
	height: 35vh;
	width: 70vw;
	left: 15vw;
	bottom: 100px;
	color: black;
	text-shadow: none !important;
	border: none !important;
	opacity: 0.9;
	filter: alpha(opacity=90); /* msie */
}

/* Fanart */
.poster {
	height: 100%;
	width:30%;
}

.disc-image {
	height: 100%;
	position:absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
}

.cover-image {
	height: 100%;
	z-index: 3;
	position: absolute;
	top: 0px;
	left: 0px;
}

.spin {
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.bg-image {
	background:transparent url(../images/blank.png) no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	height:100vh;
	width: 100vw;
	position:absolute;
	top:0px;
	left:0px;
}

@media screen and (max-width: 992px) {
	.menu-button-label {
		display: none;
	}
}

/* Help classes */
.pointer {
	cursor:pointer !important;
}
